@model IEnumerable<Entities.Models.LoginCredentials>

@{
    ViewBag.Title = "DisplayCredentials";
}

<h2>Display Credentials</h2>

<p>
    @Html.ActionLink("Create New User", "Create", "Users")
</p>


<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <a href="@Url.Action("Create", "LoginController", new { loginId = item.loginId })"></a>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","Login", new { id = item.loginId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.loginId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.loginId })
                </td>
            </tr>
        }

    </table>
</div>  